<main class="row">
	<article class="col-md-8 d-flex flex-column">
	  <% @posts.each do |thread| %>
    	<div class="row no-gutters thread-box">
      	<div class="col-md-8 d-flex flex-column">
  				<div><h3 class="thread-title"><%= thread.title %></h3></div>
          <div><p class="thread-text"><%= thread.text %></p></div>
          <div class="d-flex flex-row justify-content-start">
            <% thread.categories.each_with_index do |genre| %>
              <p class="genre"><%= genre.name %></p>
            <% end %>
          </div>
          <p><%= time_ago_in_words(thread.created_at) %></p>
        </div>
        <div class="col-md-4">
          <svg><%= thread.picture %></svg>
        </div>
      </div>
    <% end %>
	</article>
	<aside class="col-md-4">
	  <%= render "layouts/sidebar" %>
	</aside>
</main>
